<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Upload and share your files with your friends faster. Links with a duration of 72h and without pop-up ads. EquisFiles, choose us.">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EquisFiles - File Upload & Share</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="header">
        <a href="https://files.equis.site/" class="logo-link">
            <img src="/img/equisfiles.png" class="logo" alt="EquisFiles Logo">
        </a>
    </header>

    <main class="main-content">
        <div class="container">
            <section class="upload-container">
                <form action="">
                    <div class="drop-zone">
                        <div class="icon-container">
                            <img src="/img/file.png" draggable="false" class="center" alt="File Icon">
                            <img src="/img/file.png" draggable="false" class="left" alt="File Icon">
                            <img src="/img/file.png" draggable="false" class="right" alt="File Icon">
                        </div>
                        <input type="file" id="fileInput">
                        <div class="title">Drop your Files here or, <span id="browseBtn">browse</span></div>
                    </div>
                </form>

                <div class="progress-container">
                    <div class="bg-progress"></div>
                    <div class="inner-container">
                        <div class="status">Uploading...</div>
                        <div class="percent-container">
                            <span class="percentage" id="progressPercent">0</span>%
                        </div>
                        <div class="progress-bar"></div>
                    </div>
                </div>

                <div class="sharing-container">
                    <p class="expire">Short URL in <a href="https://urls.equis.site/" class="url">EquisURL</a></p>

                    <div class="input-container">
                        <input type="text" id="fileURL" readonly>
                        <img src="/img/copy-icon.png" id="copyURLBtn" alt="copy to clipboard icon">
                    </div>

                    <p class="email-info">Or Send via Email</p>
                    <div class="email-container">
                        <form id="emailForm">
                            <div class="field">
                                <label for="fromEmail">Your email</label>
                                <input type="email" autocomplete="email" required name="from-email" id="fromEmail">
                            </div>

                            <div class="field">
                                <label for="toEmail">Receiver's email</label>
                                <input type="email" required autocomplete="receiver" name="to-email" id="toEmail">
                            </div>
                            <div class="send-btn-container">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <div class="illustration">
                <div class="image-vector"></div>
            </div>
        </div>
    </main>

    <script src="/js/index.js"></script>
</body>
</html>